@import url('https://fonts.googleapis.com/css?family=Oldenburg');

* {
  margin: 0;
}

body {
  height: 100vh;
}

.container {
  height: 100%;
  width: 100%;  
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  background: #BF3838;
  color: black;
  font-size: 25pt;
  font-family: 'Oldenburg', cursive, sans-serif;
}

.content {
  background: #E6E6E6;
  display: flex;
  height: 85%;
  align-items: center;
  justify-content: center;
}

form {
  background: #D0CECE;
  height: 30em;
  width: 20em;
  border-radius: 1em;
}#login-form{
    display: flex;
    flex-direction: column;
}
.campo{
   width: 350px;
  height: 40px; 
}
#btn-login{
    width: 350px;
    height: 40px;
    border-radius: 5em;
    background:#BF3838;
    font-size: 1.1em;
   
}
#btn-login:hover{
    background:#FFFAF0;
}