@import url('https://fonts.googleapis.com/css?family=Oldenburg');

* {
  margin: 0  ;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
  height: 100% !important;
  width: 100% !important; 
  margin-left: 0 !important;
  
}

header {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important ;
  height: 15% !important;
  background: #BF3838 ;
  color: black;
  font-size: 25pt !important;
  font-family: 'Oldenburg', cursive, sans-serif !important;
}

.content {
    padding: 2px 20px;
    background: #E6E6E6;
    display: flex;
    height: 85%;
    align-items: center;
    justify-content: center;    
}

.form-login {
  background: #D0CECE;
  height: 30em;
  width: 25em !important;
  border-radius: 1em !important;
  
}


#admin {
    background: #D0CECE;
    height: 30em;
    width: 20em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}
#password, #email  {
    width: 80%;
    height: 4em;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
     border-radius: 5em;
}
#admin-submit{
    width: 350px;
   height: 40px;
   border-radius: 5em;
   background:#BF3838;
  font-size: 1.1em;
}
#admin-submit:hover{
    background:#FFFAF0;
}