@import url('https://fonts.googleapis.com/css?family=Oldenburg');

* {
  margin: 0  ;
  text-decoration: none;
  color: black;
}

body {
    height: 100vh;
}

.container {
  height: 100% !important;
  width: 100% !important; 
  margin-left: 0 !important;
  
}

header {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important ;
  height: 15% !important;
  background: #BF3838 ;
  color: black;
  font-size: 25pt !important;
  font-family: 'Oldenburg', cursive, sans-serif !important;
}

.content {
    padding: 2px 20px;
    background: #E6E6E6;
    display: flex;
    height: 78%;
    align-items: center;
    justify-content: space-between;
}

form {
  background: #D0CECE;
  height: 30em;
  width: 20em !important;
  border-radius: 1em !important;
}

.options {
    display: flex;
    height: 8% !important;
    background: gray;
    flex-direction: row !important;
    font-family: 'Oldenburg', cursive, sans-serif!important ;
    color: black;
    justify-content: space-around !important;
    align-items: center !important;
}

.options a:hover {
    text-decoration: underline;
}
a{
    color: black !important;
 
}

#admin {
    background: #D0CECE;
    height: 30em;
    width: 20em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}
#password, #email, #admin-submit {
    width: 80%;
    height: 4em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;        
}
