@import url('https://fonts.googleapis.com/css?family=Oldenburg');

* {
  margin: 0;
  text-decoration: none;
  color: black;
}

body {
  height: 100vh;
}

.container {
  height: 100%;
  width: 100%;  
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  background: #BF3838;
  color: black;
  font-size: 25pt;
  font-family: 'Oldenburg', cursive, sans-serif;
}

.content {
  background: #E6E6E6;
  display: flex;
  height: 78%;
  align-items: center;
  justify-content: center;
}

form {
  background: #D0CECE;
  height: 30em;
  width: 20em;
  border-radius: 1em;
}

.options {
    display: flex;
    height: 8%;
    background: gray;
    flex-direction: row;
    font-family: 'Oldenburg', cursive, sans-serif;
    color: black;
    justify-content: space-around;
    align-items: center;
}

.options a:hover {
    text-decoration: underline;
}

#admin {
    background: #D0CECE;
    height: 30em;
    width: 20em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}
#password, #email, #admin-submit {
    width: 80%;
    height: 4em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;        
}